@media  screen and (max-width:460px) {
    
    ul li a{
        height: 50px;
        width: 100px;
    }
    ul li a .bx {
        font-size: 10px;
       
        line-height:35px;
        padding-right: 0px;
    }
    ul li a span{
        top: 10px;
        letter-spacing:-1px;

    }
}